<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <style>
        header {
            background-color: darkblue;
            color: white;
            text-align: center;

        }

        nav {
            color: darkgreen;
            text-align: center;
            font-size: 24px;
            padding: 10px;
        }

        .first {
            color: darkgreen;
            text-align: center;
            background: url('1.jpeg') no-repeat center center/cover;
        }
    </style>
</head>

<body>
    <header>
        <h1>my web site</h1>

    </header>
    <nav>
        <a href="start.html"> Anasayfa</a>
        <a href="a">Hakkımda</a>
        <a href="b">İletişim</a>
    </nav>
    <section class="first">
        <h2> 1.bölüm</h2>
        <p> s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book.</p>
    </section>
</body>

</html>